In [13]:
import pandas as pd
from datetime import date

In [7]:
df=pd.read_excel('income.xlsx')
df

        date   account  source  amount
0 2022-10-18    IBBL-1  Salary     NaN
1 2022-10-18    IBBL-1  Salary   500.0
2 2022-10-18  Cash Out  Salary  5000.0
3 2022-10-18  Cash Out  Salary  5000.0
4 2022-10-18  Cash Out  Salary  5000.0
5 2022-10-18    IBBL-2    Abbu    12.0
6 2022-10-18    IBBL-2    Abbu    12.0
7 2022-10-18    IBBL-2    Abbu    12.0
8 2022-10-19       SCB  Salary   100.0

In [11]:
str(df['date'][0].date())

'2022-10-18'

In [17]:
(date.today())

datetime.date(2022, 10, 19)

In [31]:
import datetime

AttributeError: type object 'datetime.time' has no attribute 'today'

In [20]:
import time

In [21]:
time.time()

1666154215.2635708

In [36]:
type(str(datetime.date.today()))

str